body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-attachment: fixed;
}

.img2 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.d {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 0, 62, 0.5);
}

h1 {
  text-align: center;
  margin: 3% auto;
  font-size: 127px;
  font-family: cursive;
  color: beige;
  animation: test2 3s infinite;
  position: relative;
  animation-timing-function: linear;
}

@keyframes test2 {
  0% {
    color: chartreuse;
  }

  10% {
    color: tomato;

  }

  20% {
    color: aqua;
  }

  30% {
    color:#efa8e4 ;

  }

  40% {
    color:#8ec6c5;
  }
  50% {
    color: #363062;

  }

  60% {
    color:#d8ebb5;

  }

  70% {
    color: #f76a8c;

  }

  80% {
    color:#c70039 ;
  }

  90% {
    color: #f5fcc1;

  }
  100% {
    color: #596157;
  }
}

.nav-brand {
  font-size: 20px;
  font-weight: 5px;
  font-family: 'Girassol', cursive;
  color: ;
}

.nav-link {
  margin: 0 20px;
  font-family: 'Inconsolata', monospace;
}




.nav-brand {
  font-size: 20px;
  font-weight: 5px;
  font-family: 'Girassol', cursive;

}
.nav-brand {
  font-size: 20px;
  font-weight: 5px;
  font-family: 'Girassol', cursive;
  margin: 0 20px;
}
